<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <!-- NOTE (VB twin): section renamed from RibbonControls.Properties.Settings to match the
             VB settings class full name (the VB twin omits the .Properties namespace). -->
        <section name="RibbonControls.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

    <userSettings>
        <RibbonControls.Settings>
            <setting name="RibbonCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimePicker1" serializeAs="String">
                <value>2018-01-01</value>
            </setting>
        </RibbonControls.Settings>
    </userSettings>
</configuration>
